<p class="home">Home/Persor</p>
<br /> <br /> <br /> <br />

<form class="form-inline s" action="/action_page.php">
    <label for="email" class="mr-sm-2">Show</label>
    <div class="dropdown">
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
            10
        </button>
        <div class="dropdown-menu ">
            <a class="dropdown-item" href="#">1</a>
            <a class="dropdown-item" href="#"> 2</a>
            <a class="dropdown-item" href="#"> 3</a>
        </div>
    </div>
    <label for="email" class="mr-sm-2">information</label>
    <button type="button" class="btn btn-primary e">Excel</button>
    <button type="button" class="btn btn-primary p">PDF</button>
    <input class="form-control mr-sm-2 p" type="text " placeholder="Search">
    <button type="button" class="btn btn-primary p">+Add Employee</button>
</form>
<table class="table t">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><i class="fas fa-info-circle">&nbsp;&nbsp;&nbsp;&nbsp;</i><i
                    class="fas fa-pen">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-trash-alt"></i></i></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td><i class="fas fa-info-circle">&nbsp;&nbsp;&nbsp;&nbsp;</i><i
                    class="fas fa-pen">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-trash-alt"></i></i></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td><i class="fas fa-info-circle">&nbsp;&nbsp;&nbsp;&nbsp;</i><i
                    class="fas fa-pen">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-trash-alt"></i></i></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><i class="fas fa-info-circle">&nbsp;&nbsp;&nbsp;&nbsp;</i><i
                    class="fas fa-pen">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-trash-alt"></i></i></td>
        </tr>
    </tbody>
</table>

<ul class="pagination pagination danhmuc">
    <li class="page-item"><a class="page-link" href="#"><<</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">>></a></li>
  </ul>