<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quality</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let gh of giohang">
            <td>{{gh.id}}</td>
            <td><img src="{{gh.hinh}}" height="50px"></td>
            <td>{{gh.name}}</td>
            <td>{{gh.gia}}</td>
            <td><button type="button" class="btn btn-success" (click)="tang(gh.id)">+</button>{{gh.sl}}
                <button type="button" class="btn btn-danger" (click)="giam(gh.id)">-</button></td>
            <td>
                <button type="button" class="btn btn-primary">View</button>
                <button type="button" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
        </tr>
        <tr>
            <td colspan="5">Tổng Tiền</td>
            <td>{{tongtien()}}</td>

        </tr>

    </tbody>
</table>