<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['']">Lab1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['lab2']">Lab2</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['lab4']">Lab4</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['lab5']">Lab5</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/trangchu']">Lap cuoi</a>
              </li>
        </ul>
      </div>
    </nav>
<router-outlet></router-outlet>

</div>