<div class="card c" style="width: 18rem;">
    <img src="../assets/nam.jpg" class="card-img-top">
    <div class="card-body">
        <ul>
            <li>{{teo.ten}}</li>
            <li>{{teo.ngaysinh}}</li>
            <li>{{teo.gt}}</li>
            <li>{{teo.diem}}</li>
        </ul>
    </div>
</div>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Hình</th>
            <th scope="col">Tên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Điểm</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hs of hocsinh">
            <th><img src="{{hs.hinh}}" style="width: 50px;"></th>
            <td>{{hs.ten}}</td>
            <td>{{hs.ngaysinh}}</td>
            <td>{{hs.gt}}</td>
            <td>{{hs.diem}}</td>
        </tr>


    </tbody>
</table>